<p>Please select a date:</p>

<div class="calendar-container">

  <!--
  <button id="prev-button" type="button">Prev</button>
  <button id="next-button" type="button">Next</button>
  -->

  <i id="next-button" class="fa fa-chevron-right" aria-hidden="true"></i>
  <i id="prev-button" class="fa fa-chevron-left" aria-hidden="true"></i>

  <div id="calendar"></div>

</div>
