-<div>
<div class="fl w-50">
  <div>
    <table class="f6">
          <thead>
        <tr class="stripe-dark">
          <th class="pa3 bg-white">TODAY</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr class="stripe-dark">
          <td class="pa2"><a href="event-today" class="link dim dark-green b">Liwan</a></td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Taral Hicks</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Tyrin Turner</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Oliver Grant</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="">
  <div class="fl w-50">
    <table class="f6">
          <thead>
        <tr class="stripe-dark">
          <th class="pa3 bg-white">TOMORROW</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr class="stripe-dark">
          <td class="pa2"><a href="event-tomorrow" class="link dim dark-green b">Cinema</a></td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Taral Hicks</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Tyrin Turner</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Oliver Grant</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">Dean Blanc</td>
          <td class="pa2">14:00-18:00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
