{{!--Partial for header--}}
<header class="bg-green center dib w-100 ">

  <div class="inliner">
    <img onclick="home()" src="../img/logo.jpg" width="100em" class="bg-green" alt="calendar">
  <!-- </div>
  <div class=""> -->
    <h3 class="font-cursive" onclick="home()"> Nazareth <br> Events</h3>
  <!-- </div>
  <div class=""> -->
    <img onclick="nav()" src="../img/06_menu_stack-512.png" width="100em" class="inliner bg-green" alt="calendar">
  </div>
</header>

<p class="big-font">handlebars demo:</p>

<WrapText>
<!-- some kind of an image -->
<!-- <h1>Liwan Party</h1>
<h2>Location: Paulous 6 street</h2>

Info: The biggest party in Nazareths history. tickets will run out soon, make sure you buy ticket soon.

<p>Entrance: Free</p>
<p>Time: 13:00-21:00</p>
<p>Contact: 050505050505</p>

<h1></h1>
<h2>Location: </h2>

Info:

<p>Entrance: Free</p>
<p>Time: 13:00-21:00</p>
<p>Contact: 050505050505</p> -->
</WrapText>
