{{!--Partial for header--}}
<header class="bg-green center dib w-100 ">

  <div class="inliner">
    <img onclick="home()" src="../img/logo.jpg" width="100em" class="bg-green" alt="calendar">
  <!-- </div>
  <div class=""> -->
    <h3 class="font-cursive" onclick="home()"> Nazareth <br> Events</h3>
  <!-- </div>
  <div class=""> -->
    <img onclick="nav()" src="../img/06_menu_stack-512.png" width="100em" class="inliner bg-green" alt="calendar">
  </div>
</header>
