<header>
	<div class="tc pv1">
  	<img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Nazareth_%281%291.jpg" class="br-100 pa2 ba b--black-30 h4 w4" alt="avatar">
  	 	<h2 class="f6 gray fw2 ttu tracked">Nazareth Events</h2>
  	<img src="http://www.freeiconspng.com/uploads/calendar-icon-upcoming-events-31.png" class="br0 pa1 h3 w3" alt="calendar">
 
	</div>
</header>