<header>
	<h1 class="tc pb1">NCA</h1>
	<div class="tc pb1">
		<ul class="list ph3 ph3-ns pv2">
			<li class="dib mr2"><a href="/map" class="f6 f5-ns b db pa2 link dim mid-gray">MAP</a></li>
			<li class="dib mr2"><a href="/today-event" class="f6 f5-ns b db pa2 link dim mid-gray">TODAY</a></li>
			<li class="dib mr2"><a href="/tomorrow-event" class="f6 f5-ns b db pa2 link dim mid-gray">TOMORROW</a></li>
		</ul>
	</div>
</header>
