<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nazareth Events</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

{{{body}}}
<BigFont> MY BODY IS READY!!! </BigFont>



  </body>
</html>
