<form class="add-event-form" action="tobeimplementedlater" method="post">
  <label>Title:</label>
  <input type="text" name="title" value="">

<!--  img url-->

  <label>category:</label>
    <select class="" name="type">
      <option value="">Sports</option>
      <option value="">Educational</option>
      <option value="">Theatrical</option>
      <option value="">Social Gathering</option>
      <option value="">Cinema</option>
      <option value="">Music Event</option>
      <option value="">Cultural Event</option>
      <option value="">Guesthouse</option>
      <option value="">Store</option>
      <option value="">Restaurant</option>
      <option value="">Historical site</option>
      <option value="">Hangout Spots</option>
    </select>

  <label>Date: </label>
  <input type="date" name="formatDate" value="">

  <label>Location: </label>
  <input type="text" name="location" value="">

  <label>Starting Time: </label>
  <input type="datetime-local" name="start_time" value="">

  <label>Ending Time: </label>
  <input type="datetime-local" name="end_time" value="">

  <label>Price: </label>
  <input type="text" name="cost" value="">

  <label>Description: </label>
  <textarea name="description" rows="8" cols="80"></textarea>

  <button type="submit" name="submit-button" class="submit-button">Submit</button>
</form>
