<body>
<div class="fl w-50">
  <div>
    <table class="f6">
          <thead>
        <tr class="stripe-dark">
          <th class="pa3 bg-white">Cinema</th>
          <th class="pa3 bg-white">Tomorrow</th>
          <th class="pa3 bg-white"><a href="/" class="link dim red">home</a></th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr class="stripe-dark">
          <td class="pa2">open</td>
          <td class="pa2">every day opening</td>
          <td class="pa2">16:00 - 01:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">information</td>
          <td class="pa2">we have more than one room cinema</td>
          <td class="pa2"> they are place to set with family</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">location</td>
          <td class="pa2">center of Nazareth</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">films</td>
          <td class="pa2">fast and furious, 300, comidie, romantic</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">contact us</td>
          <td class="pa2">phone number:0465544458</td>
          <td class="pa2">email: cinemaCity@gmail.com</td>
        </tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
