<body>
<div class="fl w-50">
  <div>
    <table class="f6">
          <thead>
        <tr class="stripe-dark">
          <th class="pa3 bg-white">Liwan</th>
          <th class="pa3 bg-white">Today</th>
          <th class="pa3 bg-white"><a href="/" class="link dim red">home</a></th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr class="stripe-dark">
          <td class="pa2">open</td>
          <td class="pa2">every day opening</td>
          <td class="pa2">14:00 - 18:00</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">information</td>
          <td class="pa2">this is a Resturant place</td>
          <td class="pa2"> they are place to set with family</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">location</td>
          <td class="pa2">old city street</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">menu of liwan</td>
          <td class="pa2">coffe, lunch, dinner, take away</td>
        </tr>
        <tr class="stripe-dark">
          <td class="pa2">contact us</td>
          <td class="pa2">phone number:046852148</td>
          <td class="pa2">email: liwan@hotmail.com</td>
        </tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
