<p> hello {{username}} </p>

<form class="add-event-form" action="/add-event" method="post">
  <label>Title:</label>
  <input type="text" name="title" value="">

<!--  img url-->
  <input type="hidden" name="organizer" value={{username}}>

  <label>category:</label>
    <select class="" name="type">
      <option value="Sports">Sports</option>
      <option value="Educational">Educational</option>
      <option value="Theatrical">Theatrical</option>
      <option value="Social Gathering">Social Gathering</option>
      <option value="Cinema">Cinema</option>
      <option value="Music Event">Music Event</option>
      <option value="Cultural Event">Cultural Event</option>
      <option value="Guesthouse">Guesthouse</option>
      <option value="Store">Store</option>
      <option value="Restaurant">Restaurant</option>
      <option value="Historical site">Historical site</option>
      <option value="Hangout Spots">Hangout Spots</option>
    </select>

  <label>Date: </label>
  <input type="date" name="date" value="">

  <label>Location: </label>
  <input type="text" name="location" value="">

  <label>Starting Time: </label>
  <input type="time" name="start_time" value="">

  <label>Ending Time: </label>
  <input type="time" name="end_time" value="">

  <label>Price: </label>
  <input type="text" name="cost" value="">

  <label>Description: </label>
  <textarea name="description" rows="8" cols="80"></textarea>

  <button type="submit" name="submit-button" class="submit-button">Submit</button>
</form>
