<h3>Login</h3>

<form class="login-form" action="./login" method="post">
  <label class="login-label">
    Organisation username:
    <input class="login-input" type="text" name="username" value="">
  </label>
  <label class="login-label">
    Password:
    <input class="login-input" type="password" name="password" value="">
  </label>
  <button class="login-submit" type="submit" name="button">submit</button>
</form>
