
body{
  background-color: blue;

}

h1 {
  color:red;
  font-size: 2em;

  width: 40%;
  white-space: normal;
  word-wrap: break-word;
  /*word-break: break-all;*/
  /*width: 200px;   ******/
  /*white-space: normal;   ******/

}

BIgFont{
  font-size: 2em;
  font-weight: bold;
}
