/*
CONTENTS:

1) GENERAL
2) LIST PAGE
3) CALENDAR
4) ORGANISATION LOGIN
5) ADD EVENT FORM
*/

/*
1) GENERAL
*/

body {
  background-color: #eee;
}

html {
  font-family: sans-serif;
  /*line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;*/
}

.bg-green {
  background-color: #19a974;
}

/*
images, or sth
*/

img {
    max-width: 100%;
    border-style: none;
}

smallimg {
  width: 3em;
}

/*
text size and coloring stuff
*/

WrapText {
  width: 40%;
  white-space: normal;
  word-wrap: break-word;
}

.big-text {
  font-size: 2em;
  font-weight: bold;
}

.red-text {
  color: red;
}

.inliner {
  top:0
}

.font-cursive{
 font-family: 'Satisfy', cursive;
}

/*
2) LIST PAGE
*/

/*
3) CALENDAR
*/

/*
4) ORGANISATION LOGIN
*/

.login-form {
  text-align: center;
  padding: 2em;
  background: #eee;
  border-radius: 20px;
}

.login-label {
  margin: 0em 0em 1em 0em;
  display: block;
}

.login-input {
  margin: 0.5em auto;
  padding: 0.5em;
  display: block;
  border-radius: 10px;
}

.login-submit {
  padding: 0.5em;
  border-radius: 10px;
  background: white;
  display: block;
}

/*
5) ADD EVENT FORM
*/

.submit-button {
  margin: auto;
  display:  block;
}

.add-event-form input,
.add-event-form select,
.add-event-form textarea {
  width: 100%;
}

.add-event-form label{
  display: block;
}

.add-event-form {
  width: 90%;
  margin: auto;
}
